/* ====================== Navigation ====================== */

#breadcrumb {
  padding: 0 20px;
  list-style: none;
  background-color: #eeeeee;
  font-size: 17px;
  margin: 0;
  display: flex;
  align-items: center;
}

/* Display list items side by side */

#breadcrumb li {
  display: inline;
  padding: 20px 10px;

  font-size: 1rem;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Restaurant Details ====================== */

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 400px;
  margin-top: calc(80px + 64px);
  width: 100%;
}

.inside #map {
  background-color: #cccccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  top: 70px;
  width: 100%;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.1;
  margin: 15px 0 30px;
  text-transform: uppercase;
}

#restaurant-fig {
  margin: 0 auto;
  width: 90%;

  /* display: flex; */
}

.restaurant-fig {
  margin: 0 auto;
  width: 100%;
}

#restaurant-img,
.restaurant-img {
  max-width: 100%;
}

#restaurant-figcap,
.restaurant-figcap {
  font-style: italic;
  margin-right: 10px;
  text-align: right;

  /* transform: rotate(90deg); */

  /* transform-origin: top right; */
}

#restaurant-address {
  font-size: 0.9rem;
  margin: 10px auto;
  width: 90%;
}

#restaurant-cuisine {
  background-color: #333333;
  color: #dddddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 auto 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #ffffff;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
}

#reviews-container {
  box-sizing: border-box;
  padding: 20px;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #ffffff;
  border: 2px solid #f3f3f3;
  border-radius: 10% 0%;
  display: block;
  list-style-type: none;
  margin: 0 10px 30px;
  overflow: hidden;
  width: 85%;
}

#reviews-list li p {
  padding: 5px 20px;
  margin: 0 0 10px;
}

#restaurant-hours {
  padding-left: calc(7%);
}

#restaurant-hours td {
  color: #666666;
  padding-right: 10px;
  margin-right: 5px;
  max-width: 150px;
}

/* ====================== Review Details ====================== */

.review-author {
  background-color: #252831;
  color: #fdfdfd;
  font-size: 1.3rem;
}

.review-date {

  /* display: none; */
  float: right;
  font-size: 0.9rem;
  color: #bbbbbbdd;
  margin-top: 5px;
}

.review-rating {
  background-color: #f58500;
  color: #fdfdfd;
  font-size: 0.9rem;
  text-transform: uppercase;
  width: 110px;
}

.review-comments {
  font-size: 0.9rem;
}

.newReview {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 85%;
}

.newReview input {
  margin-bottom: 5px;
}
.newReview textarea {
  height: 150px;
}
.newReview select {
  font-size: 20px;
}
.newReview textarea,
.newReview input,
.newReview select {
  border: 0;
  padding: 10px 5px;
  width: 100%;
}

.newReview button {
  background-color: orange;
  border-bottom: 3px solid #eeeeee;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-transform: uppercase;
}

@media screen and (max-width: 340px) {
  .review-date {
    display: none;
  }
}

@media screen and (min-width: 360px) {
  .review-author {
    font-size: 1.5rem;
  }
  .review-date {
    display: inline;
    font-size: 1.2rem;
    margin-top: 5px;
  }
  .review-rating {
    font-size: 1.3rem;
  }
  .review-comments {
    font-size: 0.9rem;
  }
  #reviews-list li {
    width: 320px;
  }
  #restaurant-address {
    font-size: 1rem;
  }
  #restaurant-hours td {
    margin-right: 10px;
    width: 140px;
  }
  .newReview {
    width: 320px;
  }
}

@media screen and (min-width: 400px) {
  .review-comments {
    font-size: 1rem;
  }
}

@media screen and (min-width: 444px) {
  .review-author {
    font-size: 1.8rem;
  }
  #breadcrumb li {
    font-size: 1.1rem;
  }
  #restaurant-cuisine {
    font-size: 14pt;
  }
  #restaurant-address {
    text-align: center;
    font-size: 1.1rem;
  }
  #restaurant-hours {
    margin: auto;
  }
  #restaurant-hours td {
    max-width: 160px;
    width: 160px;
    font-size: 1rem;
  }

  footer {
    font-size: 10pt;
  }
  .inside #map-container {
    margin-top: calc(80px + 66px);
  }
}
