nav{
  display: flex;
  align-items: center;
}

section ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main{
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 360px) {
  #reviews-list li {
    width: 320px;
}
}
@media screen and (min-width: 444px) {
  .filter-options {
    height: 60px;
  }
}
@media screen and (min-width: 600px) {
  /* h1{
    font-size: 2rem;

  } */
  #breadcrumb li {
  		font-size: 1.2rem;
  }
}
