@charset "utf-8";

/* CSS Document */

body,
td,
th,
p {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}
body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}
li,
ul {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
a {
  color: orange;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}
a img {
  border: none 0 #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
main {
  background-color: #f3f3f3;
  min-height: 100%;
}
footer {
  background-color: #444444;
  color: #eeeeee;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
.skiplink {
  background: #fdfdfd;
  box-sizing: border-box;
  height: 80px;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: -500px;
  width: 200px;
  z-index: 1;
}
.skiplink:focus {
  top: 0;
}

/* ====================== Navigation ====================== */
nav {
  align-items: center;
  background-color: #252831;
  display: flex;
  height: 80px;
  text-align: center;
  width: 100%;
}

nav a {
  color: #ffffff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

/* ====================== Map ====================== */
#map {
  background-color: #cccccc;
  height: 400px;
  width: 100%;
}

#map img {
  height: 400px;
  width: 100%;
}

/* ====================== Merge responsive ====================== */
section ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  nav a {
    font-size: 16pt;
  }
  #breadcrumb li {
    font-size: 1.2rem;
  }
  .inside #map-container {
    margin-top: calc(80px + 68px);
  }
}
